<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
</head>
<body>
    <h1>Student Data </h1>
    <table border="1" cellpadding="8">
        <thead>
            <tr>
                <th>Name</th>
                <th>age</th>
                <th>city</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student => { %>
                <tr>
                    <td><%= student.name %></td>
                    <td><%= student.age %></td>
                    <td><%= student.city %></td>
                </tr>
            <% }) %>
        </tbody>

    
</body>
</html>